{% extends 'dashboard/dashboardbase.html.twig' %}

{% block panel %}

<div class="dashboard-subheader">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-container">
          <span class="breadcrumb">Analytics</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-panels">
  <div class="container-fluid container-fixed-lg">
    <div class="columns-2">
      <div class="dashboard-panel-block">
        <h3 class="dashboard-panel-header">Current Authenticated Services</h3>

        {{ dump(authenticatedServiceStats) }}

      </div>
  </div>
</div>

{% endblock %}
