{% extends 'app/appbase.html.twig' %}

{% block content %}

<div style="font-family: 'Nanum Gothic', sans-serif; text-align: center; width: 100%;">
  <p style="font-size: 8rem; margin-top: 10rem;">Logged out</p>
  <p>Please close your browser to complete your logout</p>
</div>

{% endblock %}
